
@model List<SiteInProgress.ImageGallery>
@{
    ViewBag.Title = "Gallery";
}
<body background="~/Content/background.jpg">
    <h2>How are you gonna break up with your treasures (╯°□°）╯︵ ┻━┻</h2>
    <p>
        <hr />
    </p>

    @* Upload Images *@
    <table>
        @{
            int j = 0;
            for (int i = Model.Count; i >= 0; i -= 4)
            {
                j = i;
                <tr>
                    @* show 4 images in  a Row *@
                    @while (j > i - 4 && j > 0)
                {

                        <td class="col-md-push-4" style="padding-left:50 px">
                            <div class="col-lg-offset-2">

                                <form action="@Url.Action("GalleryEdit", "ImageGallery", new { id = Model[j-1].FileID })">
                                    <input type="image" src="data:image/png;base64,@Convert.ToBase64String(Model[j-1].FileData,0,Model[j-1].FileData.Length)" width="300" height="300" style="padding-left:50 px" />
                                </form>


                            </div>
                            <div>
                                <h3 class="col-lg-offset-2 col-md-push-4">@Model[j - 1].Title </h3>
                            </div>
                        </td>
                        j--;
                    }
                </tr>
            }
        }
    </table>
    </body>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
