@model List<SiteInProgress.ImageGallery>
@{
    ViewBag.Title = "Gallery";
}
<h2>Gallery</h2>
<p>
    @Html.ActionLink("GalleryUpload", "Upload")
</p>
@* Upload Images *@
<table>
    @{
        int j = 0;
        for (int i = Model.Count; i >= 0; i -= 5)
        {
            j = i;
            <tr>
                @* show 5 images in  a Row *@
                @while (j > i - 5 && j > 0)
                {

                    <td>
                        <form action="@Url.Action("GalleryEdit", "ImageGallery", new { id = Model[j-1].FileID })">
                            <input type="image" src="data:image/png;base64,@Convert.ToBase64String(Model[j-1].FileData,0,Model[j-1].FileData.Length)" width="200" />
                        </form>

                    </td>
                    j--;
                }
            </tr>
        }
    }
</table>
